<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<appSettings>
			<add key = "repoType" value="Memory"/>
			<add key = "repoType" value="LiteDB"/>
			<add key = "repoType" value = "SQLite"/>
		</appSettings>
	   <connectionStrings>
			<add name="LiteDB" connectionString="LiteDB" providerName="LiteDB"/>
			<add name="SQLiteConnection" connectionString="Data Source = MyDatabase.sqlite;" providerName="System.Data.SQLite" />
	   </connectionStrings>
</configuration>